<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PlistInfo</key>
	<dict>
		<key>ver</key>
		<integer>14</integer>
		<key>updateUrl</key>
		<string>http://source.51devapp.com/videos/JiSuYingYuan.plist</string>
	</dict>
	<key>Servers</key>
	<array>
		<dict>
			<key>title</key>
			<string>极速影院 📺</string>
			<key>isVideo</key>
			<true/>
			<key>mainURL</key>
			<string>http://www.jisu018.com</string>
			<key>icon</key>
			<string>http://source.51devapp.com/videos/JiSuYingYuan.png</string>
			<key>serverOnlyID</key>
			<integer>2008</integer>
			<key>miniAppVer</key>
			<string>com.MX.mhb:3.1.0;com.hts.hjdm:3.1.0;</string>
			<key>headersForWebPage</key>
			<dict>
				<key>User-Agent</key>
				<string>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36</string>
			</dict>
			<key>headersForCoverImage</key>
			<dict>
				<key>User-Agent</key>
				<string>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36</string>
			</dict>
			<key>headersForDownloadComicImage</key>
			<dict>
				<key>User-Agent</key>
				<string>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36</string>
			</dict>
			<key>headersForOnlineViewComicImage</key>
			<dict>
				<key>User-Agent</key>
				<string>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36</string>
			</dict>
			<key>removeNoShowOfComicNameList</key>
			<array/>
			<key>classOfChooseList</key>
			<dict>
				<key>Classes</key>
				<array>
					<dict>
						<key>title</key>
						<string>动漫</string>
						<key>url1</key>
						<string>http://www.jisu018.com/vodlist/4-1.html</string>
						<key>url</key>
						<string>http://www.jisu018.com/vodlist/4-@.html</string>
						<key>parseLevel</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>title</key>
						<string>电影</string>
						<key>url1</key>
						<string>http://www.jisu018.com/vodlist/1-1.html</string>
						<key>url</key>
						<string>http://www.jisu018.com/vodlist/1-@.html</string>
						<key>parseLevel</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>title</key>
						<string>电视剧</string>
						<key>url1</key>
						<string>http://www.jisu018.com/vodlist/2-1.html</string>
						<key>url</key>
						<string>http://www.jisu018.com/vodlist/2-@.html</string>
						<key>parseLevel</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>title</key>
						<string>综艺</string>
						<key>url1</key>
						<string>http://www.jisu018.com/vodlist/3-1.html</string>
						<key>url</key>
						<string>http://www.jisu018.com/vodlist/3-@.html</string>
						<key>parseLevel</key>
						<integer>1</integer>
					</dict>
				</array>
				<key>classGetResponseIsPostMethod_PostDataKeys_Dict</key>
				<dict/>
				<key>classGetResponseIsPostMethod_PostData_PageNoKey</key>
				<string>page</string>
				<key>classGetResponseIsPostMethod_PostData_PageSizeKey</key>
				<string>pageSize</string>
				<key>classGetResponseIsPostMethod_PostData_ClassIDKey</key>
				<string>d_type</string>
				<key>classComicCoverImageUrlMainUrl</key>
				<string></string>
				<key>classPageType_HTMLIsYES_JSONIsNO</key>
				<true/>
				<key>classOfIsHtml</key>
				<dict>
					<key>classWebPageSourceCharset_UTF8IsYES_GB2312IsNo</key>
					<true/>
					<key>classWebPageSourceReplaceStr_Array</key>
					<array>
						<string>换行</string>
						<string>回车</string>
					</array>
					<key>classWebPageSourceResolveBegin</key>
					<string>&lt;ul class=&quot;teleplayx-content-list&quot;&gt;</string>
					<key>classWebPageSourceResolveEnd</key>
					<string></string>
					<key>classWebPageSourceRegex</key>
					<dict>
						<key>regex</key>
						<string>&lt;div class=&quot;sliderdiv&quot;&gt;&lt;a href=&quot;(.*?)&quot; class=&quot;slide-img&quot; target=&quot;_blank&quot; title=&quot;(.*?)&quot;&gt;(.*?)&lt;img class=&quot;scrollLoading&quot; data-url=&quot;(.*?)&quot; width(.*?)&lt;label class=&quot;text&quot;&gt;(.*?)&lt;/label&gt;(.*?)主演：(.*?)&lt;/p&gt;&lt;/div&gt;</string>
						<key>name</key>
						<integer>2</integer>
						<key>author</key>
						<integer>8</integer>
						<key>state</key>
						<integer>6</integer>
						<key>stateStringBegin</key>
						<string></string>
						<key>coverImageUrl</key>
						<integer>4</integer>
						<key>coverImageUrlIsNeedUTF8Encode</key>
						<false/>
						<key>comicDetailPageUrl</key>
						<integer>1</integer>
						<key>comicDetailPageIsNeedAddMainUrl</key>
						<string>http://www.jisu018.com</string>
					</dict>
					<key>classEndPageFlag</key>
					<string>下一页</string>
				</dict>
				<key>classOfIsJson</key>
				<dict>
					<key>classJsonResponse_ObjectForKey_Array</key>
					<array>
						<string>data</string>
					</array>
					<key>classJsonSetHTTPMethod_POSTOrGET</key>
					<string>GET</string>
					<key>classComicDetailPageUrlStringByReplacing_ComicUrlFormat</key>
					<string></string>
					<key>classComicCoverImageUrlStringByReplacing_CoverImageUrlFormat</key>
					<string></string>
					<key>classComicRequestDataGetRidBeginString</key>
					<string></string>
					<key>classComicNextPageIsNotFixationAdd</key>
					<true/>
					<key>classJsonNextPageResponse_ObjectForKey_Array</key>
					<array>
						<string>data</string>
					</array>
					<key>classJsonNextPageNumWithKey</key>
					<string></string>
					<key>classKey</key>
					<dict>
						<key>nameKey</key>
						<string></string>
						<key>authorKey</key>
						<string></string>
						<key>stateWithDicShow_StrIsYES_NumIsNO</key>
						<true/>
						<key>stateKey</key>
						<string></string>
						<key>imageUrlKey</key>
						<string></string>
						<key>comicUrlKey</key>
						<string></string>
					</dict>
				</dict>
			</dict>
			<key>updateOfChooseList</key>
			<dict>
				<key>updateComicUrlWithDataIsNeedNowTime_Dict</key>
				<dict/>
				<key>updatePageMainUrl</key>
				<string>http://www.jisu018.com/label/new.html</string>
				<key>updateGetResponseIsPostMethod_PostDataKeys_Dict</key>
				<dict/>
				<key>updateGetResponseIsPostMethod_PostData_PageNoKey</key>
				<string>pageno</string>
				<key>updateGetResponseIsPostMethod_PostData_PageSizeKey</key>
				<string>pagesize</string>
				<key>updateGetResponseIsPostMethod_PostData_ClassIDKey</key>
				<string>subject</string>
				<key>updateComicCoverImageUrlMainUrl</key>
				<string></string>
				<key>updatePageType_HTMLIsYES_JSONIsNO</key>
				<true/>
				<key>updateOfIsHtml</key>
				<dict>
					<key>updateWebPageSourceCharset_UTF8IsYES_GB2312IsNo</key>
					<false/>
					<key>updateWebPageSourceRepleaseStr_Array</key>
					<array>
						<string>换行</string>
						<string>回车</string>
					</array>
					<key>updateWebPageSourceResolveBegin</key>
					<string></string>
					<key>updateWebPageSourceResolveEnd</key>
					<string></string>
					<key>updateWebPageSourceRegex</key>
					<dict>
						<key>regex</key>
						<string>&lt;li data-tags=&quot;(.*?)&quot;&gt;&lt;div class=&quot;sliderdiv&quot;&gt;&lt;a href=&quot;(.*?)&quot; class=&quot;slide-img&quot; target=&quot;_blank&quot; title=&quot;(.*?)&quot;&gt;&lt;i&gt;&lt;/i&gt;&lt;img src=&quot;(.*?)&quot; width=&quot;200&quot; height=&quot;270&quot; alt=&quot;(.*?)&quot;&gt;&lt;label class=&quot;score&quot;&gt;(.*?)&lt;/label&gt;&lt;label class=&quot;text&quot;&gt;(.*?)&lt;/label&gt;(.*?)主演：(.*?)&lt;/p&gt;&lt;/div&gt;&lt;/li&gt;</string>
						<key>name</key>
						<integer>5</integer>
						<key>author</key>
						<integer>9</integer>
						<key>state</key>
						<integer>7</integer>
						<key>stateStringBegin</key>
						<string></string>
						<key>coverImageUrl</key>
						<integer>4</integer>
						<key>coverImageUrlIsNeedUTF8Encode</key>
						<true/>
						<key>comicDetailPageUrl</key>
						<integer>2</integer>
						<key>comicDetailPageIsNeedAddMainUrl</key>
						<string>http://www.jisu018.com</string>
					</dict>
				</dict>
				<key>updateOfIsJson</key>
				<dict>
					<key>updateJsonResponse_ObjectForKey_Array</key>
					<array>
						<string>data</string>
					</array>
					<key>updateComicDetailPageUrlStringByReplacing_ComicUrlFormat</key>
					<string></string>
					<key>updateComicCoverImageUrlStringByReplacing_CoverImageUrlFormat</key>
					<string></string>
					<key>updateComicRequestDataGetRidBeginString</key>
					<string></string>
					<key>updateComicRequestArrAboutDetailsIndexNum</key>
					<string>0</string>
					<key>updateJsonResponse_ObjectForTwoLayerKey_Array</key>
					<array>
						<string>comi_list</string>
					</array>
					<key>updateKey</key>
					<dict>
						<key>nameKey</key>
						<string></string>
						<key>authorKey</key>
						<string></string>
						<key>stateWithDicShow_StrIsYES_NumIsNO</key>
						<true/>
						<key>stateKey</key>
						<string></string>
						<key>imageUrlKey</key>
						<string></string>
						<key>comicUrlKey</key>
						<string></string>
					</dict>
				</dict>
			</dict>
			<key>hotOfChoosseList</key>
			<dict>
				<key>hotPageMainUrl</key>
				<string>http://www.jisu018.com/search-pg-1-wd-1-by-hits.html</string>
				<key>hotGetResponseIsPostMethod_PostDataKeys_Dict</key>
				<dict/>
				<key>hotGetResponseIsPostMethod_PostData_PageNoKey</key>
				<string>pageno</string>
				<key>hotGetResponseIsPostMethod_PostData_PageSizeKey</key>
				<string>pagesize</string>
				<key>hotGetResponseIsPostMethod_PostData_ClassIDKey</key>
				<string>subject</string>
				<key>hotComicCoverImageUrlMainUrl</key>
				<string></string>
				<key>hotPageType_HTMLIsYES_JSONIsNO</key>
				<true/>
				<key>hotOfIsHtml</key>
				<dict>
					<key>hotWebPageSourceCharset_UTF8IsYES_GB2312IsNo</key>
					<false/>
					<key>hotWebPageSourceRepleaseStr_Array</key>
					<array>
						<string>换行</string>
						<string>回车</string>
						<string>&lt;link</string>
					</array>
					<key>hotWebPageSourceResolveBegin</key>
					<string></string>
					<key>hotWebPageSourceResolveEnd</key>
					<string></string>
					<key>hotWebPageSourceRegex</key>
					<dict>
						<key>regex</key>
						<string>&lt;div class=&quot;sliderdiv&quot;&gt;&lt;a href=&quot;(.*?)&quot; class=&quot;slide-img&quot; target=&quot;_blank&quot; title=&quot;(.*?)&quot;&gt;(.*?)&lt;img class=&quot;scrollLoading&quot; data-url=&quot;(.*?)&quot; width(.*?)&lt;label class=&quot;text&quot;&gt;(.*?)&lt;/label&gt;(.*?)主演：(.*?)&lt;/p&gt;&lt;/div&gt;</string>
						<key>name</key>
						<integer>2</integer>
						<key>author</key>
						<integer>8</integer>
						<key>state</key>
						<integer>6</integer>
						<key>stateStringBegin</key>
						<string></string>
						<key>coverImageUrl</key>
						<integer>4</integer>
						<key>coverImageUrlIsNeedUTF8Encode</key>
						<true/>
						<key>comicDetailPageUrl</key>
						<integer>1</integer>
						<key>comicDetailPageIsNeedAddMainUrl</key>
						<string>http://www.jisu018.com</string>
					</dict>
				</dict>
				<key>hotOfIsJson</key>
				<dict>
					<key>hotJsonResponse_ObjectForKey_Array</key>
					<array>
						<string>data</string>
					</array>
					<key>hotComicDetailPageUrlStringByReplacing_ComicUrlFormat</key>
					<string></string>
					<key>hotComicCoverImageUrlStringByReplacing_CoverImageUrlFormat</key>
					<string></string>
					<key>hotComicRequestDataGetRidBeginString</key>
					<string></string>
					<key>hotComicRequestArrAboutDetailsIndexNum</key>
					<string>0</string>
					<key>hotJsonResponse_ObjectForTwoLayerKey_Array</key>
					<array>
						<string>comi_list</string>
					</array>
					<key>hotKey</key>
					<dict>
						<key>nameKey</key>
						<string></string>
						<key>authorKey</key>
						<string></string>
						<key>stateWithDicShow_StrIsYES_NumIsNO</key>
						<true/>
						<key>stateKey</key>
						<string></string>
						<key>imageUrlKey</key>
						<string></string>
						<key>comicUrlKey</key>
						<string></string>
					</dict>
				</dict>
			</dict>
			<key>detailsOfChooseList</key>
			<dict>
				<key>detailsPageType_HTMLIsYES_JSONIsNO</key>
				<true/>
				<key>detailsReplaceStringIsNeedReturnReplace_NeedIsYES_OrIsNO</key>
				<false/>
				<key>detailComicListIsSortedYESOrNo</key>
				<false/>
				<key>detailsOfIsHtml</key>
				<dict>
					<key>detailsWebPageSourceCharset_UTF8IsYES_GB2312IsNo</key>
					<true/>
					<key>detailsWebPageSourceReplaceStr_Array</key>
					<array>
						<string>换行</string>
						<string>回车</string>
						<string>&amp;nbsp;</string>
					</array>
					<key>detailsWebPageSourceRe_ReplaceStr_Array</key>
					<array>
						<string>###</string>
						<string>@@@</string>
					</array>
					<key>detailsCoverImageUrlDeleteStr_Array</key>
					<array>
						<string>换行</string>
						<string>回车</string>
					</array>
					<key>detailsWebPageSourceRegex</key>
					<dict>
						<key>authorRegular</key>
						<string>&lt;span&gt;导演：&lt;/span&gt;&lt;a target=&apos;_blank&apos; href=&apos;(.*?)&apos;&gt;(.*?)&lt;/a&gt;</string>
						<key>authorIndex</key>
						<integer>2</integer>
						<key>stateRegular</key>
						<string>影片分类：&lt;/span&gt;&lt;a target=&quot;_blank&quot; href=&quot;(.*?)&quot;&gt;(.*?)&lt;/a&gt;</string>
						<key>stateIndex</key>
						<integer>2</integer>
						<key>favStateRegular</key>
						<string></string>
						<key>favStateIndex</key>
						<integer>0</integer>
						<key>updateDateRegular</key>
						<string>更新时间：&lt;/span&gt;(.*?)&lt;/p&gt;</string>
						<key>updateDateIndex</key>
						<integer>1</integer>
						<key>introRegular</key>
						<string>剧情简介&lt;/li&gt;&lt;/ul&gt;&lt;/div&gt;&lt;div class=&quot;details-contenttext&quot;&gt;(.*?)&lt;/div&gt;</string>
						<key>introIndex</key>
						<integer>1</integer>
						<key>coverImageRegular</key>
						<string></string>
						<key>coverImageIndex</key>
						<integer>0</integer>
						<key>coverImageStringEnd</key>
						<string></string>
						<key>subListStart</key>
						<string>var downurls=&quot;</string>
						<key>subListEnd</key>
						<string>var downarr</string>
						<key>subListRegular</key>
						<string>(.*?)\$(.*?)#</string>
						<key>subTitleIndex</key>
						<integer>1</integer>
						<key>subUrlIndex</key>
						<integer>2</integer>
					</dict>
					<key>detailsWebPageSourceNewRegex</key>
					<dict>
						<key>detailsNewComicUrl</key>
						<string></string>
						<key>authorRegular</key>
						<string></string>
						<key>authorIndex</key>
						<integer>0</integer>
						<key>stateRegular</key>
						<string></string>
						<key>stateIndex</key>
						<integer>0</integer>
						<key>favStateRegular</key>
						<string></string>
						<key>favStateIndex</key>
						<integer>0</integer>
						<key>updateDateRegular</key>
						<string></string>
						<key>updateDateIndex</key>
						<integer>0</integer>
						<key>introRegular</key>
						<string></string>
						<key>introIndex</key>
						<integer>0</integer>
						<key>coverImageRegular</key>
						<string></string>
						<key>coverImageIndex</key>
						<integer>0</integer>
						<key>coverImageStringEnd</key>
						<string></string>
						<key>subListStart</key>
						<string></string>
						<key>subListEnd</key>
						<string></string>
						<key>subListRegular</key>
						<string></string>
						<key>subTitleIndex</key>
						<integer>0</integer>
						<key>subUrlIndex</key>
						<integer>0</integer>
					</dict>
				</dict>
				<key>detailsOfIsJson</key>
				<dict>
					<key>detailsForListIsNeedDataOfOldDic_NeedIsYES_OrIsNO</key>
					<true/>
					<key>detailsComicCoverImageUrlNeedInfoKey_NeedIsYES_OrIsNO</key>
					<false/>
					<key>detailsComponentsSeparatedByStringWithUrl</key>
					<string></string>
					<key>detailsComicRequestDataGetRidBeginString</key>
					<string></string>
					<key>detailsJsonResponse_ObjectForKey_DetailsArray</key>
					<array>
						<string>data</string>
					</array>
					<key>detailsJsonResponse_ObjectForKey_ListArray</key>
					<array>
						<string>data</string>
					</array>
					<key>detailsInfoKey</key>
					<dict>
						<key>comicMainURL_NeedReplaceFormat</key>
						<string></string>
						<key>comicUpdateTimeKey</key>
						<string>d_time</string>
						<key>comicUpdateTimeIsNeedInterval</key>
						<true/>
						<key>comicStateKey</key>
						<string>d_score</string>
						<key>comicStateWithDicShow_StrIsYES_NumIsNO</key>
						<true/>
						<key>comicStateDicKeyArray</key>
						<array/>
						<key>comicStateArrayNum</key>
						<integer>0</integer>
						<key>comicAutherKey</key>
						<string>d_area</string>
						<key>comicAuthorDicKeyArray</key>
						<array/>
						<key>comicAuthorArrayNum</key>
						<integer>0</integer>
						<key>comicIntroKey</key>
						<string>d_content</string>
						<key>comicIntroDicKeyArray</key>
						<array/>
						<key>comicIntroArrayNum</key>
						<integer>0</integer>
						<key>comicCoverImageUrl</key>
						<string>d_pic</string>
						<key>comicCoverImageDicKeyArray</key>
						<array/>
						<key>comicCoverImageArrayNum</key>
						<integer>0</integer>
						<key>comicWithCookie_Regular</key>
						<string></string>
						<key>cookieHeadNum</key>
						<integer>0</integer>
						<key>cookieEndNum</key>
						<integer>0</integer>
					</dict>
					<key>detailsSubListKey</key>
					<dict>
						<key>subListURL_NeedCutWithKey</key>
						<string>#</string>
						<key>subListURL_CutsStringSecondCutWithKey</key>
						<string>$</string>
						<key>subListURL_NeedReplaceFormat</key>
						<string></string>
						<key>subListObjectForKey_UrlKey</key>
						<string>d_playurl</string>
						<key>subListManuallyChooseResources_NeedArrayNum</key>
						<integer>0</integer>
						<key>subListNewComicResources_ObjectForKey_ListArray</key>
						<array>
							<string></string>
						</array>
						<key>subListShowDictHaveArrayTotalNumber_Key</key>
						<string></string>
						<key>subOneListURL</key>
						<string></string>
						<key>subListTitleKeyNumber</key>
						<integer>0</integer>
						<key>subListUrlKeyNumber</key>
						<integer>1</integer>
						<key>subListTitleKey</key>
						<string></string>
						<key>subListUrlKey</key>
						<string></string>
						<key>subNextUrlKey</key>
						<string></string>
					</dict>
				</dict>
			</dict>
			<key>searchOfChooseList</key>
			<dict>
				<key>searchKeyWordConvertString_NeedUTF8IsYES_GB2312IsNO</key>
				<true/>
				<key>searchPageType_HTMLIsYES_JSONIsNO</key>
				<true/>
				<key>searchComicMainUrlIsChange_ReplaceMainUrl</key>
				<string></string>
				<key>searchMainUrlStringWithSplite_ArrayOfNum</key>
				<integer>0</integer>
				<key>searchPageComicMainUrl</key>
				<string>http://www.jisu018.com/search-pg-1-wd-@.html</string>
				<key>searchPageComicMainUrlNextUrl</key>
				<string>http://www.jisu018.com/search-pg-#-wd-@.html</string>
				<key>searchResponseIsNeedPagingMethod_NeedIsYES_OrIsNO</key>
				<false/>
				<key>searchResponseIsPagingMethod_PageKeys_Dict</key>
				<dict>
					<key>pagingMethod_pageNum</key>
					<integer>0</integer>
					<key>pagingMethod_replaceStr</key>
					<string>#</string>
					<key>pagingMethod_divisionStr</key>
					<string></string>
				</dict>
				<key>searchAllResponseIsPagingMethod_PageKeys_Dict</key>
				<dict/>
				<key>searchWebPageSourceReplaceStr_Array</key>
				<array>
					<string>换行</string>
					<string>回车</string>
				</array>
				<key>searchOfIsHtml</key>
				<dict>
					<key>searchComicUrlHasSuffixIsPHP</key>
					<false/>
					<key>searchPageHasNextPage</key>
					<true/>
					<key>searchCharset_UTF8IsYES_GB2312IsNo</key>
					<true/>
					<key>searchWebPageSourceResolveBegin</key>
					<string></string>
					<key>searchWebPageSourceResolveEnd</key>
					<string></string>
					<key>searchPageRegularRegex</key>
					<dict>
						<key>searchViewstateRegex</key>
						<string></string>
						<key>searchEventvalidationRegex</key>
						<string></string>
						<key>searchPostParameter</key>
						<dict/>
						<key>searchSetHTTPMethod_POSTOrGET</key>
						<string>GET</string>
						<key>searchResultsRegularRegex</key>
						<dict>
							<key>regex</key>
							<string>&lt;div class=&quot;sliderdiv&quot;&gt;&lt;a href=&quot;(.*?)&quot; class=&quot;slide-img&quot; target=&quot;_blank&quot; title=&quot;(.*?)&quot;&gt;(.*?)&lt;img class=&quot;scrollLoading&quot; data-url=&quot;(.*?)&quot; width(.*?)&lt;label class=&quot;text&quot;&gt;(.*?)&lt;/label&gt;(.*?)主演：(.*?)&lt;/p&gt;&lt;/div&gt;</string>
							<key>name</key>
							<integer>2</integer>
							<key>webPageSourceNameReplaceStr_Array</key>
							<array/>
							<key>author</key>
							<integer>8</integer>
							<key>state</key>
							<integer>6</integer>
							<key>webPageSourceStateReplaceStr_Array</key>
							<array/>
							<key>coverImageUrl</key>
							<integer>4</integer>
							<key>comicDetailPageUrl</key>
							<integer>1</integer>
						</dict>
						<key>nextPageRegex</key>
						<dict>
							<key>regex</key>
							<string></string>
							<key>pages</key>
							<integer>0</integer>
						</dict>
					</dict>
				</dict>
				<key>searchOfIsJson</key>
				<dict>
					<key>searchComicDetailPageUrlStringByReplacing_ComicUrlFormat</key>
					<string></string>
					<key>searchComicCoverImageUrlStringByReplacing_CoverImageUrlFormat</key>
					<string></string>
					<key>searchComicRequestDataGetRidBeginString</key>
					<string></string>
					<key>searchJsonResponse_ObjectForKey_Array</key>
					<array>
						<string>data</string>
					</array>
					<key>searchComicDetailPageUrlStringPaging_Array</key>
					<array/>
					<key>searchComicCoverImageUrlStringPaging_Array</key>
					<array/>
					<key>searchComidDetailsResponseString_DeteleStr</key>
					<string></string>
					<key>searchKey</key>
					<dict>
						<key>nameKey</key>
						<string></string>
						<key>comicUrlKey</key>
						<string></string>
						<key>stateWithDicShow_StrIsYES_NumIsNO</key>
						<true/>
						<key>stateKey</key>
						<string></string>
						<key>autherKey</key>
						<string></string>
						<key>imageUrlKey</key>
						<string></string>
					</dict>
				</dict>
			</dict>
			<key>downloadOfChooseList</key>
			<dict>
				<key>downloadPageType_HTMLIsYES_JSONIsNO</key>
				<false/>
				<key>downloadIsUseOnlineBrowserOrOnlineDLbrowser</key>
				<true/>
				<key>downloadUrlListStringFotmatIsReplace_NeedIsYES_OrIsNO</key>
				<false/>
				<key>downloadMainUrlIsNeedReplace_NeedIsYES_OrIsNO</key>
				<false/>
				<key>downloadUrlWithJavaScript_Dict</key>
				<dict>
					<key>javaScriptSoundCode</key>
					<string></string>
					<key>javaScriptUrlModelRegular</key>
					<string></string>
					<key>javaScriptUrlModelRegexNum</key>
					<string></string>
					<key>javaScriptUrlCountRegular</key>
					<string></string>
					<key>javaScriptUrlCountRegexNum</key>
					<string></string>
					<key>javaScriptUrlModelExist_Path</key>
					<string></string>
					<key>javaScriptUrlModelExist_PathRegluar</key>
					<string></string>
					<key>javaScripSeparateString</key>
					<string></string>
					<key>javaScriptUrlModelNotExist_Urls</key>
					<string></string>
					<key>javaScriptUrlReplaceStr</key>
					<string></string>
					<key>javaScriptImageUrl</key>
					<string></string>
					<key>javaScriptSqlitString</key>
					<string></string>
					<key>javaScriptSeverHead</key>
					<string></string>
					<key>javaScriptComicUrlNeedReplaceStr</key>
					<string></string>
				</dict>
				<key>downloadUrlList</key>
				<array/>
				<key>downloadOfIsHtml</key>
				<dict>
					<key>downloadImageUrlNeedConvert_DelLastStrNum</key>
					<integer>0</integer>
					<key>downloadImageHostRefererSplicingFormat</key>
					<string></string>
					<key>downloadImageUrlNeedConvert_AppendingStr</key>
					<string>-p#/</string>
					<key>downloadImageUrlBeginForm_0Or1</key>
					<integer>0</integer>
					<key>downloadEstablishDiction_InitialUserAgent</key>
					<dict>
						<key>UserAgent</key>
						<string>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/38.0.2125.104 Safari/537.36</string>
					</dict>
					<key>downloadEstablishDiction_AmendUserAgent</key>
					<dict>
						<key>UserAgent</key>
						<string>Mozilla/5.0 (iPhone; CPU iPhone OS 10_10 like Mac OS X) AppleWebKit/600.1.4 (KHTML, like Gecko) Mobile/12B411</string>
					</dict>
					<key>downloadWebPageSourceReplaceStr_Array</key>
					<array/>
					<key>downloadSelectOfMethod_Arr</key>
					<array/>
				</dict>
				<key>downloadOfIsJson</key>
				<dict>
					<key>downloadAnalysisJsonNeed_SBJSONIsYES_NSJSONSerializationIsNO</key>
					<true/>
					<key>downloadUrlStringWithMainUrl</key>
					<string></string>
					<key>downloadComicRequestDataGetRidBeginString</key>
					<string></string>
					<key>downloadInfoObjectForKey_KeysArray</key>
					<array>
						<string></string>
						<string></string>
						<string></string>
					</array>
					<key>downloadWebPageSourceKey</key>
					<dict/>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
